* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #edf2f4;
}

body {
  display: flex;
  cursor: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #edf2f4;
  color: #457b9d;
  font-family: Arial, sans-serif;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container,
.container2 {
  text-align: center;
  min-width: 45vh;
  justify-content: center;
  align-items: center;
}
#message {
  color: #2b2d42;
  font-size: 2rem;
  font-weight: bold;
}

.board {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: ;
  height: 100px;
  font-size: 2em;
  background-color: #b1b7c2;
  /* cursor: pointer; */
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #a3ebecd1;
  /* color: #fff; */
}

#reset,
#clear {
  margin-top: 2px;
  padding: 10px 20px;
  cursor: none;
  font-size: 1em;
}

.winning-cell {
  background-color: #457b9d;
  color: #fff;
  &:hover {
    background-color: #457b9d;
  }
}

.winner-message {
  font-weight: bold;
  font-size: 2em;
  color: #005f73;
}

#cursor-follower {
  position: fixed;
  width: 25px;
  height: 25px;
  color: black;
  font-size: larger;
  font-weight: bold;
  border-radius: 50%;
  /* border: 2px solid black; */
  text-align: center;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
}
#custom-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
#custom-splash img {
  width: 100px;
  height: 100px;
}
#custom-splash {
  transition: opacity 0.5s ease;
  opacity: 1;
}

#custom-splash.hide {
  opacity: 0;
  pointer-events: none;
}
